#Section3 {
    margin-top: 30px;

    .backgrounds {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 15, 121, 0.8268557422969187) 10%, rgba(0, 212, 255, 1) 100%);
        height: 400px;

        .title-buttons {
            margin: 70px;
            color: white;

            .title {
                p {
                    font-size: 40px;
                }
            }

            .buttons {
                button {
                    margin: 20px 10px;
                    background-color: #98b899;
                    border: 1px solid white;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;

                    svg {
                        color: white;
                    }
                }
            }
        }
    }

    .peoples {
        position: relative;
        top: -120px;

        a {
            color: black;
            text-decoration: none;

            .image-info {
                .image {
                    img {
                        border-radius: 10px;
                        width: 99%;
                    }
                }

                .info {
                    margin-left: 2px;

                    .title {
                        font-size: 29px;
                        margin: 0;

                        svg {
                            margin-left: 20px;
                        }

                    }

                    .text {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}