#Section4{
    margin-bottom: 30px;
    .photo{
        a{
            color: black;
            text-decoration: none;
            .image-info{
                .image{
                    img{
                        border-radius: 10px;
                        width: 99%;
                    }
                }
                .info{
                    margin-left: 2px;
                    .title{
                        font-size: 33px;
                        margin: 0;
                        svg{
                            margin-left: 20px;
                        }
        
                    }
                    .text{
                        font-size: 17px;
                    }
                }
            }
           }
    }
}